In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset=pd.read_csv(r"C:\Users\admin\Downloads\bank (1).csv")

In [4]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [5]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [6]:
x=dataset.iloc[:,5:16]
y=dataset.iloc[:,16]

In [7]:
x

,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown
1,45,no,no,unknown,5,may,1467,1,-1,0,unknown
2,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown
3,2476,yes,no,unknown,5,may,579,1,-1,0,unknown
4,184,no,no,unknown,5,may,673,2,-1,0,unknown
5,0,yes,yes,unknown,5,may,562,2,-1,0,unknown
6,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown
7,545,yes,no,unknown,6,may,1030,1,-1,0,unknown
8,1,yes,no,unknown,6,may,608,1,-1,0,unknown
9,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown
10,100,yes,no,unknown,7,may,786,1,-1,0,unknown
11,309,yes,no,unknown,7,may,1574,2,-1,0,unknown
12,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown
13,460,yes,no,unknown,7,may,1102,2,-1,0,unknown
14,703,yes,no,unknown,8,may,943,2,-1,0,unknown
15,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown
16,611,yes,no,unknown,8,may,541,3,-1,0,unknown
17,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown
18,55,yes,no,unknown,8,may,1120,2,-1,0,unknown
19,168,yes,yes,unknown,8,may,513,1,-1,0,unknown
20,785,yes,no,unknown,8,may,442,2,-1,0,unknown
21,2067,yes,no,unknown,8,may,756,1,-1,0,unknown
22,388,yes,no,unknown,8,may,2087,2,-1,0,unknown
23,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown
24,381,yes,no,unknown,8,may,985,2,-1,0,unknown
25,40,yes,no,unknown,9,may,617,4,-1,0,unknown
26,22,yes,no,unknown,9,may,483,3,-1,0,unknown
27,3,yes,no,unknown,9,may,929,3,-1,0,unknown
28,307,yes,no,unknown,9,may,538,1,-1,0,unknown
29,759,yes,no,unknown,9,may,710,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...
11132,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown
11133,1594,yes,no,cellular,17,apr,110,1,260,5,failure
11134,2596,no,no,telephone,18,nov,15,2,-1,0,unknown
11135,115,no,no,unknown,6,jun,201,1,-1,0,unknown
11136,0,yes,no,cellular,8,sep,76,1,-1,0,unknown
11137,247,no,no,unknown,15,may,213,2,-1,0,unknown
11138,235,yes,no,telephone,28,aug,688,6,-1,0,unknown
11139,2593,no,no,unknown,27,may,662,7,-1,0,unknown
11140,2166,yes,no,unknown,28,may,23,17,-1,0,unknown
11141,130,yes,no,cellular,6,may,302,2,-1,0,unknown
11142,48,no,yes,cellular,17,nov,591,1,-1,0,unknown
11143,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown
11144,0,yes,no,unknown,15,may,229,1,-1,0,unknown
11145,-134,no,no,cellular,12,may,243,1,271,4,failure
11146,23,no,yes,cellular,4,feb,149,2,-1,0,unknown
11147,0,no,no,cellular,21,nov,175,4,-1,0,unknown
11148,1,yes,no,unknown,8,may,102,1,-1,0,unknown
11149,3317,no,no,cellular,19,nov,231,2,-1,0,unknown
11150,355,no,no,cellular,21,aug,314,3,-1,0,unknown
11151,917,yes,no,unknown,20,may,292,1,-1,0,unknown
11152,390,yes,no,cellular,15,jul,659,3,-1,0,unknown
11153,35,no,no,telephone,9,nov,208,1,-1,0,unknown
11154,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown
11155,80,yes,yes,cellular,21,nov,38,2,172,2,failure
11156,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown
11157,1,yes,no,cellular,20,apr,257,1,-1,0,unknown
11158,733,no,no,unknown,16,jun,83,4,-1,0,unknown
11159,29,no,no,cellular,19,aug,156,2,-1,0,unknown
11160,0,no,yes,cellular,8,may,9,2,172,5,failure
11161,0,no,no,cellular,9,jul,628,1,-1,0,unknown

In [9]:
x=dataset.iloc[:,5:16].values
y=dataset.iloc[:,16].values

In [10]:
x

array([[2343, 'yes', 'no', ..., -1, 0, 'unknown'],
       [45, 'no', 'no', ..., -1, 0, 'unknown'],
       [1270, 'yes', 'no', ..., -1, 0, 'unknown'],
       ...,
       [29, 'no', 'no', ..., -1, 0, 'unknown'],
       [0, 'no', 'yes', ..., 172, 5, 'failure'],
       [0, 'no', 'no', ..., -1, 0, 'unknown']], dtype=object)

In [11]:
x.shape

(11162, 11)

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[1,2,3,5,10])],remainder="passthrough")
x=ct.fit_transform(x)

In [13]:
x.shape

(11162, 29)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [18]:
x_test

array([[0.0, 1.0, 1.0, ..., 1, 336, 2],
       [1.0, 0.0, 0.0, ..., 1, 192, 4],
       [1.0, 0.0, 0.0, ..., 2, -1, 0],
       ...,
       [1.0, 0.0, 1.0, ..., 2, -1, 0],
       [1.0, 0.0, 1.0, ..., 1, -1, 0],
       [0.0, 1.0, 1.0, ..., 2, -1, 0]], dtype=object)

In [19]:
from sklearn.linear_model import LogisticRegression
lor=LogisticRegression()
lor.fit(x_train,y_train)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
ypred=lor.predict(x_test)
ypred

array(['no', 'yes', 'no', ..., 'yes', 'no', 'no'], dtype=object)

In [24]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [25]:
accuracy

0.8177339901477833

In [26]:
lor.predict(ct.transform([[2343,"yes","no","unknown",5,"may",1042,1,-1,0,"unknown"]]))

array(['yes'], dtype=object)